:host::ng-deep {
  .ng-scrollbar {
    --scrollbar-padding: 1px;
    --scrollbar-size: 5px;
    --scrollbar-thumb-color: var(--cui-gray-500, #aab3c500);
    --scrollbar-thumb-hover-color: var(--cui-gray-400, #cfd4de00);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
    --scrollbar-border-radius: 5px;
  }

.header
 {
    --cui-header-padding-x: 0.5rem;
    --cui-header-padding-y: 0.5rem;
    --cui-header-bg: var(--cui-body-bg);
    --cui-header-color: rgba(7, 131, 255, 0);
    --cui-header-border-color: var(--cui-border-color);
    --cui-header-border: var(--cui-border-width) solid #0c4fc300;
 }

 .border-bottom {
    border-bottom: var(--cui-border-width) var(--cui-border-style) #17479900 !important;
}
  .sidebar-dark {
    --cui-body-color: rgba(255, 255, 255, 0.87);
    --cui-body-bg: #ffffff00;
  }

  .ng-scroll-content {
    display: flex;
    min-height: 100%;
  }

  .sidebar-nav .nav-link{
    white-space: unset;
  }



      .sidebar-nav .nav-link:hover{
      background: linear-gradient(#1b9e3e, #0097A7), #1b9e3e;
      color: #fff!important;
    }

    .sidebar-nav .nav-link.active {
      color: #ffffff !important;
    }


    .sidebar-nav .nav-group-toggle::after{
      background-color: #609513;
    }

    .sidebar-nav .nav-icon-bullet{
      border: var(--cui-sidebar-nav-link-icon-bullet-border-width) solid #609513;
    }

    // .app-dashboard{
    //   display: flex;
    //   width: 100%;
    //   justify-content: space-between;
    // }

    // .c-sidebar#sidebar1{
    //   width: 20%;
    // }

    .wrapper.d-flex.flex-column.min-vh-100{
      padding: 0 0 0 0px;
    }

    .ng-scrollbar-thumb {
      background-color: transparent;
    }

  //.sidebar-nav {
  //  scrollbar-color: var(--cui-gray-500, #444) transparent;
  //}
}




  @media (max-width: 1500px) {
    .sidebar-nav{
      max-width: 220px;
    }
  }

    @media (max-width: 991px) {
    .sidebar-nav{
      background-color: #fff;
      max-width: unset;
    }
  }
// ng-scrollbar css variables
//.cui-scrollbar {
//  --scrollbar-border-radius: 7px;
//  --scrollbar-padding: 1px;
//  --scrollbar-viewport-margin: 0;
//  --scrollbar-track-color: transparent;
//  --scrollbar-wrapper-color: transparent;
//  --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
//  --scrollbar-thumb-hover-color: var(--scrollbar-thumb-color);
//  --scrollbar-size: 5px;
//  --scrollbar-hover-size: var(--scrollbar-size);
//  --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
//  --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
//}
