<div style="background-image: url('../../../../assets/images/bg_main.png'); background-size: cover;" class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center full-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="d-flex justify-content-center mb-4">
          <img src="assets/images/northlogo.png" alt="" class="img-fluid" style="max-width: 150px;">
        </div>
        <div class="card-group">
          <div class="card p-2" style="background-color: #fff; margin-bottom: 30px;">
            <div class="card-body">
              <form cForm>
                <h1 style="color: #555; font-size: 24px; font-weight: 400; font-family: 'PT Sans Narrow', sans-serif; text-align: center; margin-top: 30px;">Dhaka North City Corporation</h1>
                <p style="color: #555; font-size: 20px; font-weight: 400; font-family: 'PT Sans Narrow', sans-serif; text-align: center; margin-top: 15px;">e-Revenue Management</p>
                <div class="mb-3">
                  <input class="otp form-control" style="background-color: #eaeaea; color: #555; font-size: 16px; font-weight: 400; font-family: Arial; padding: 10px; border-radius: 5px; margin-top: 20px; width: 100%; text-align: center;" autoComplete="username" placeholder="OTP" />
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="login-btn btn btn-primary w-100" [routerLink]="['/charts']">
                      VERIFY
                    </button>
                  </div>
                  <div class="col-12 mt-2">
                    <button class="resend-btn btn btn-link float-end" style="padding: 0; font-size: 16px; font-family: 'PT Sans Narrow', sans-serif; color: #127da7; text-decoration: none;">
                      Resend OTP
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>