.otp::placeholder {
    color: #555;
    font-size: 16px;
    font-family: Arial;
    text-align: center;
  }

  .login-btn {
    background-color: #127da7;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #fff;
    padding: 10px;
  }

  .resend-btn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #127da7;
    text-decoration: none;
  }