<!-- index.component.html -->
<div style="background-image: url('../../../../assets/images/bg_main.png'); background-size: cover;" class="bg-light dark:bg-transparent min-vh-100 flex-row align-items-center full-bg">

  <div class="logo-wrapper">
    <img src="assets/images/northlogo.png" alt="Logo" class="logo-img">
  </div>

  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="12" xl="12">
        <c-card-group>
          <c-card class="p-2 responsive-card">
            <c-card-body>
              <form cForm>

                <h1 class="form-title">Dhaka North City Corporation</h1>
                <p class="form-subtitle">e-Revenue Management</p>

                <form>
                  <!-- First select dropdown -->
                  <select
                    [(ngModel)]="selectedWing"
                    name="wing"
                    (change)="onWingChange()"
                    class="form-select">
                    <option value="">Select Wing</option>
                    <option value="holding">Holding Tax</option>
                    <option value="hotel">Hotel Tax</option>
                    <option value="market">Market Rent & Miscellaneous</option>
                  </select>

                  <!-- Second select dropdown -->
                  <select
                    [(ngModel)]="selectedSection"
                    name="section"
                    class="form-select">
                    <option *ngIf="selectedWing === 'select'" value="select"> </option>
                    <option *ngIf="selectedWing !== '' && selectedWing !== 'hotel' && selectedWing !=='market'" value="holding">Holding Tax</option>
                    <option *ngIf="selectedWing === 'hotel'" value="hotel">Hotel Tax</option>
                    <option *ngIf="selectedWing !== 'hotel' && selectedWing !== '' && selectedWing !=='market'" value="holding">Trade License</option>
                    <option *ngIf="selectedWing === 'market'" value="market">Market Salami-Rent</option>
                    <option *ngIf="selectedWing === 'market'" value="market">Vehicle/Wheel Tax</option>
                    <option *ngIf="selectedWing === 'market'" value="market">Entertainment Tax</option>
                    <option *ngIf="selectedWing === 'market'" value="market">Other</option>
                  </select>
                </form>

                <c-input-group class="mb-3">
                  <input class="user" autoComplete="username" placeholder="Username" />
                </c-input-group>

                <c-input-group class="mb-4">
                  <input class="pass" autoComplete="current-password" placeholder="Password" type="password" />
                </c-input-group>

                <c-row>
                  <c-col xs="12">
                    <button class="login-btn" [routerLink]="['/otp-verification']">
                      Login
                    </button>
                  </c-col>

                  <c-col class="text-center" xs="12">
                    <a class="forget-pass" [routerLink]="['/forget-pass']">
                      Forgot your password? Click Here
                    </a>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>

<div style="background: url(../../../../assets/images/footer_top_bg.png); background-size: contain; background-position: center; background-repeat: no-repeat; height: 100px;">
  <a href="" target="_blank"></a>
  <span></span>
</div>

<div>
  <span class="footer" style="color: #609513;">
    পরিকল্পনা ও রূপায়নে ICT Cell Dhaka North City Corporation
  </span>
</div>
