@use "@coreui/coreui/scss/mixins/transition" as *;
@use "@coreui/coreui/scss/mixins/color-mode" as *;

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  // width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); 
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-nav .nav-link.active{
  background: linear-gradient(#1b9e3e, #0097A7), #1b9e3e;
}

.sidebar-nav .nav-group.show .nav-group-toggle{
  background: linear-gradient(#1b9e3e, #0097A7), #1b9e3e;
}

.sidebar-nav .nav-icon{
  color: #609513;
}

.sidebar-nav .nav-icon:hover{
  color: rgb(0, 0, 0)!important;
}

.border-end{
  --cui-border-color: #ffffff00 !important;
}


.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;  
    min-height: calc(4rem + 1px); 
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}
.sidebar-toggler::before{
  background-color: #61951300;
  opacity: 100%;
  display: none;
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  display: block !important;

  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
  background: transparent;
  border: none;
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}
