.moreinfo{
    margin-bottom: 5px;
    font-size: 12px;
    background-color: #3d3dc6;
    border: none;
    color: #fff;
}

.moreinfo-btn{
    margin-bottom: 5px;
    font-size: 12px;
    background-color: #2283e5;
    border: none;
    color: #fff;
}