.moreinfo{
    margin-bottom: 5px;
    font-size: 12px;
    background-color: #1591a5;
    border: none;
    color: #fff;
    display: block;
    width: 100%;
}

.moreinfo-btn{
    margin-bottom: 5px;
    font-size: 12px;
    background-color: #24963e;
    border: none;
    color: #fff;
    display: block;
    width: 100%;
}